.btn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#conteudo {
  display: none;
  text-align: center;
  margin-top: 5%;
}

.rosa {
  background: rgb(255, 185, 196);
}

.lilas {
  background: rgb(245, 169, 245);
}

.azul {
  background: rgb(161, 196, 250)
}

.verde {
  background: rgb(195, 241, 180);
}

#botao {
  text-transform: uppercase;
  border-radius: 5px;
  border-color: #bdbdbd;
  padding: 10px;
  background: rgb(232, 181, 255);
  color: rgb(255, 255, 255);
}

